<!DOCTYPE html>
{% import "macros.html" as m %}
<html lang="en">
<head>

    <title>Модальное окно</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">


</head>
<body>

<div id="app">
    <button @click="showModal = true">Показать форму</button>
    <div class="ui form-user center raised very padded text container segment modal-overlay" v-if="showModal">
        <div class="modal">
            <span class="close" @click="showModal = false">&times;</span>
            <form class="ui form" action="{{ url_for('user_router.reset', token=token) }}" @submit.prevent="submitForm"
                  method="post">
                <h4 class="ui dividing header">Reset password</h4>
                {{ m.render_modal_field(form.password) }}
                {{ m.render_modal_field(form.confirm) }}
                {{ form.csrf_token }}
                <button class="ui primary button" type="submit">Confirm</button>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script src="app.js"></script>
</body>
</html>
