{% extends 'base.html' %}

{% block title %}Home - {{ super() }} {{ thread.name }} {% endblock %}

{% block header %}



{% endblock %}

{% block content %}
    <div class="table-container">
        <table class="thread-info" border="1">
            <tr class="grid">
                <td>{{ thread.name }}</td>
                <td>{{ thread.thread_id }}</td>
                <td>{{ thread.created[:10] }}</td>

            </tr>
        </table>
        <nav class="crete-btn">
                <a href="/threads/{{ thread.thread_id  }}/branches/create">Create branch</a>
            </nav>
        {% if branches|length  > 1 %}
            <table class="branches-table" border="1">
                <tr class="table-names grid">
                    <td>Branch id</td>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Post count</td>
                    <td>Created</td>
                </tr>
                {% for itm in branches %}
                    <tr class="grid">
                        <td class="grid">{{ itm.branch_id }}</td>
                        <td class="clickable-cell"
                            data-href="/threads/{{ itm.thread_id }}/branches/{{ itm.branch_id }}">
                            {{ itm.name }}
                        </td>

                        <td class="grid">
                            <a href="/user/{{ itm.creator.keys()|first }}">
                                {{ users[itm.creator.keys()|first] }}
                            </a>
                        </td>
                        <td class="grid">{{ itm.posts_count }}</td>
                        <td class="grid">{{ itm.created[:10] }}</td>
                    </tr>
                {% endfor %}
            </table>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".clickable-cell").click(function () {
                        window.location = $(this).data("href");
                    });
                });
            </script>
        {% else %}
            <table class="branches-table" border="1">
                <tr class="table-names grid">
                    <td>This thread is empty for now, please create your own branch for discussion</td>
                </tr>

            </table>

        {% endif %}

    </div>


{% endblock %}

{% block footer %}
    <div class="footer">
        {% if page_count > 1 %}
            <nav class="page-navigation">
                {% for i in range(1, page_count + 1) %}
                    <a href="/threads/{{ thread.thread_id }}?offset={{ (i - 1) * 30 }}" class="page-btn">{{ i }}</a>
                {% endfor %}
            </nav>
        {% endif %}
    </div>
{% endblock %}
