{% extends 'base.html' %}

{% block title %}Home - {{ super() }} - Sign in {% endblock %}

{% block header %}


{% endblock %}


{% block content %}
<div class="ui form-user center raised very padded text container segment">
    <form class="ui form" action="/threads/create" method="post">
        <h4 class="ui dividing header">Create thread</h4>
        {{ m.render_field(form.name) }}
        {{ m.render_field(form.description) }}
        {{ m.render_field(form.image) }}
        {{ form.csrf_token }}
        <button class="ui primary button" type="submit">Confirm</button>



    </form>
</div>

{% endblock %}
